* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
}
form{
  margin:0 auto;
  padding: 1em;
}
form div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
form div span{
  width: 10px;
}
.App{
  height: 100%;
  width: 100%;
  position: absolute;
}
svg {
  max-width: 700px;
  max-height: 100vw;
}
.time{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}